/**
 * modules/fonts
 * ---
 * Declare fonts here
 */


@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Ubuntu|Ubuntu+Condensed&subset=latin-ext');
$font-stack-condensed:  'Ubuntu Condensed', sans-serif;
$font-title-condensed:  'Ubuntu Condensed', sans-serif;
$font-title-regular: 	'Ubuntu', sans-serif;
$font-stack-regular:    'PT Sans', sans-serif;
